<section>
  <div class="page-header">
    <h2>The Basics of Gameplay</h2>
  </div>

  <div>
	<p>Cthulhu Casebook is a text-based horror RPG where you investigate (or consummate) Lovecraftian plots and period intrigue in the roaring '20s.</p>
	
    <p>As an outsider called back to your hometown by mysterious compulsions, you can freely explore Arkham's historic locations where countless encounters await. You must rely on a limited supply of clues to pursue these encounters in a manner of your choosing, but in doing so you'll discover just who you really are while unlocking deeper plots in ever stranger places.</p>
  </div>
</section>