<section>
  <div class="page-header">
    <h2>Character</h2>
  </div>

  <div>
    <p>When you first begin, <%= link_to 'your character', edit_character_path %> has a name and gender, but is otherwise a mere silhouette of a long-lost stranger whose heart's desire and driving obsession with the Mythos remains unknown. By choosing paths through <%= link_to 'encounters', location_path %> you'll come to define just who you are by whatever apropos characteristics you decide to nurture and indulge.</p>

    <h3>Skills</h3>
    <br />
    <p>Your greatest defining characteristics are your skills. These eight skills are used whenever you face an encounter's challenge, meaning that your capabilities will grow based around how you choose to conduct your investigations and the types of investigations you seek out.</p>
    <p>Whenever you use a skill, you will gain experience in that skill. When your experience in that skill reaches the same value as the skill itself, your expertise in that skill will advance and your experience meter for that skill will be reset.</p>

    <h3>Belongings</h3>
    <br />
    <p>In the course of your investigations you'll acquire all manner of practical and exotic items, from currency to candles. These are requisite to various encounters and paths, and you must often seek out certain items to further a plot. Sometimes you can use your belongings in perpetuity, and sometimes they must be spent or lost.</p>

    <h3>Gear</h3>
    <br />
    <p>Certain items - such as weapons and apparel - can be equipped in order to grant modifiers to your skills and other characteristics. You can freely equip yourself as you please at any time from your <%= link_to 'profile', edit_character_path %>, but you only have two hands at a time with which to brandish weaponry.</p>
    <p></p>

    <h3>Knowledge</h3>
    <br />
    <p>Knowledge is power and currency, and will often be required during encounters. Your knowledge will take many forms, from the slanderous to the revelational, and will generally be awarded from various encounters around Arkham. Once spent following a path, your knowledge is no longer useful, and your knowledge of the given area is reduced accordingly.</p>
  </div>
</div>