<section>
  <div class="page-header">
    <h2>Your Demise</h2>
  </div>

  <div>
	<p>While you will never truly die, you are nevertheless subject to a catalogue of unpleasant demises which hinder life. These usually take the form of highly abnormal pathology incurred while confronting monsters and magic. When a certain pathology - usually wounds or insanity - becomes too serious, you will meet your respective demise.</p>
	
    <p>Upon your demise you'll be transported to another place to revive. For example: with grave wounds, you will awaken in St. Mary's Hospital; or with crippling insanity you'll find yourself held up in Arkham Sanitarium. Other pathologies will bring you to even more unusual locations.</p>

    <p>In these locations you will have the opportunity to experience unique encounters, many of which contribute to relieving your pathology. Depending on the severity of your demise, you will be remanded to your fate for some amount of time during which you must explore your surroundings until you can make your return to Arkham.</p>

    <h3>Revival</h3>
    <br />
    <p>Casual investigation and disbursement of clues will be enough to eventually revive you from your demise, but you can usually take more drastic paths to accelerate your recovery at some painful price. One way or the other, encounters in such a location will usually let you advance toward freedom heedfully or with abandon.</p>

    <p>Once you've been able to reduce your crippling pathology to normal, you will be offered an encounter that returns you to Arkham.</p> 
    <p>Needless to say, it's best to <%= link_to 'monitor your pathology', edit_character_path %> and ensure you're not in danger of a demise and, if so, to then find encounters around Arkham that treat your pathology <em>before</em> it's too late.</p>
  </div>
</section>