<section>
  <div class="page-header">
    <h2>Encounters</h2>
  </div>

  <div>
    <p>Your main casebook activity will be having <%= link_to 'encounters', location_path %> at locations around the <%= link_to 'Arkham map', locations_path %>. Most encounters will have several paths you can follow that represent different approaches to the problem at hand and which confer various rewards. You can usually repeat an encounter many times, and many encounters will only become available at a location after you've met certain conditions.</p>
	
    <h3>Paths</h3>
    <br />
    <p>Most encounters will offer several paths which you can follow depending on whim and the nature of your soul. Each path confers appropriate awards, and indeed you will often repeatedly follow a path until you can meet the requirements of another plot-related task, for example raising your underworld skill before visiting the local mob.</p>
    <p>Like encounters themselves, some paths are only available when you meet certain conditions, such as developing a skill to a high level, possessing enough money, or affiliation with a special faction.</p>

    <h3>Challenges</h3>
    <br />
    <p>While some paths can be followed automatically, others require you to pass a challenge, usually against one of your skills. Success will be determined by the level of your skill and the difficulty of the challenge. Failing a challenge has no consequences, but you will only receive the path's awards after you succeed.</p>

    <h3>Awards</h3>
    <br />
    <p>Once you succeed in a challenge or else simply follow an unchallenged path, you'll receive the respective awards. These can vary widely from training your skills to granting knowledge or new belongings. Awards will also frequently reduce and penalize your <%= link_to 'profile', edit_character_path %>, as much of the progress in your investigations will cary a price.</p>
  </div>
</section>