<section>
  <div class="page-header">
    <h2>City Map</h2>
  </div>

  <div>
    <p>Every neighborhood location in Arkham contains different encounters and plots, and you will travel from location to location using the <%= link_to 'city map', locations_path %>. Although you are free to travel as much as you like, the more you do so the more likely you are to be attacked by monsters.</p>
    <p>In due course, plots will often require you to travel around to find the next thread leading to their conclusion, and you may often find a dangling thread in a surprising location.</p>

    <h3>Neighborhoods</h3>
    <br />
    <p>The main locations in Arkham are:</p>
    <ul>
      <li>Northside</li>
      <li>Downtown</li>
      <li>Rivertown</li>
      <li>Merchant District</li>	
      <li>Easttown</li>
      <li>French Hill</li>
      <li>Southside</li>
      <li>Miskatonic University (restricted)</li>
      <li>Outskirts (restricted)</li>
    </ul>
	
    <h3>Passages</h3>
    <br />
    <p>You can only reach adjacent locations from your current location, and traveling across Arkham - say from Northside to Uptown - will require several moves.</p>
    <p>Some passages will only become open to you under certain conditions, such as visiting the Miskatonic University campus.</p>
  </div>
</section>