<section>
  <div class="page-header">
    <h2>Monsters</h2>
  </div>

  <div>
    <p>The shadows of Arkham are stalked by wandering monsters who will appear and attack as you travel around the <%= link_to 'map', locations_path %>. The frequency of attacks depends on the nature of the monster, and if you have attracted their attention. Once attacked, however, you must deal with the monster before doing anything else.</p>

    <p>Because wandering monsters can only attack you when you travel on the <%= link_to 'map', locations_path %>, the more often you move around the more likely you are to come under attack.</p>

    <h3>Strategy</h3>
    <br />
    <p>To face the monster you must choose one of several strategies, from fighting to hiding to sorcery. All monsters are more susceptible to some strategies than others, and your skill in the strategies will also vary. Chose a corresponding strategy in which you happen to be skilled and you'll have a good chance to survive the attack unharmed.</p>
    <p>More powerful monsters will be harder to defeat, and you may need to battle them many times to overcome their attack and resume your investigations. If you're desperate or can afford it, however, you may also <em>automatically</em> defeat a monster by using clues equal to its power.</p>

    <h3>Victory and Defeat</h3>
    <br />
    <p>When you defeat a monster you'll arrive safely at your destination, and often gain some additional reward from the ordeal.</p>
    <p>When a monster defeats you, however, you will remain where you are, and suffer a variety of penalties such as wounds, madness, or a witch's curse. These penalties will affect your pathology and ultimately lead to your demise.</p>
  </div>
</section>