<section>
  <div class="page-header">
    <h2>Plots</h2>
  </div>

  <div>
    <p>Plots are mysteries which unfold over the course of many different <%= link_to 'encounters', location_path %>, often across many locations around the <%= link_to 'map', locations_path %>. You can discover new plot threads by visiting locations and having an encounter there, unlocking the first stage of a plot; as you continue to find and solve new stages of the plot, more plot-based encounters become available on the <%= link_to 'map', locations_path %>.</p>
	
	<p>Once you've started investigating a plot, you can track your progress at <%= link_to 'your lodgings', messages_path %>.</p>
	
	<h3>Types</h3>
    <br />
    <p>Plots come in many forms, from simple mysteries which reveal secrets about the Mythos, to mundane intrigues around Arkham, to the study of powerful grimoires. However, every plot will always contain a series of encounters, has a definite conclusion, and can usually only be undertaken once.</p>

	<h3>Requirements</h3>
    <br />
    <p>The first encounter which begins a plot will always have a number of requirements you must satisfy before it becomes available. These requirements cover a range of facts about your character, and are usually difficult and obscure to come by; for example, obtaining membership in an organization or having spoken to someone regarding a sinister turn of events.</p>

	<h3>Awards</h3>
    <br />
    <p>The final encounter which ends a plot will generally confer a few notable awards that, for better or worse, will change you forever, and may also reveal even deeper plot threads for you to pursue.</p>
  </div>
</section>