<h1>Messages from people as well as Other Things</h1>

<div>
  <big>Subject: <%= @message.title %></big><br />
  <small>From: <%= @message.sender %></small>

  <p><%= raw @message.text %></p>
  <br />
  <p><%= link_to 'return to other concerns', messages_path %></p>
</div>