<section>
  <div>
    <h1>
      <%= @message.title %><br/> <small>from <%= @message.sender %></small>
    </h1>
    <br />
  </div>

  <p class='well'><%= raw @message.text %></p>

  <%= link_to messages_path, :class => 'btn btn-default input-medium' do %>
    Back to Lodgings
  <% end %>
<section>