/*
 *= require_self
 *= require bootstrap_base
 *= require theme
 */


.map {
margin:0 15%;
position:relative;
}

.map .passage {
display:inline-block;
font-size:110%;
position:absolute;
z-index:99;
}
#arkham_northside { left:10%; top:5%; }
#arkham_easttown { right:5%; top:5%; }
#arkham_sanitarium,
#arkham_downtown { left:40%; top:20%; }
#arkham_merchant_district { left:15%; top:40%; }
#arkham_rivertown { right:5%; top:45%; }
#arkham_miskatonic_university { left:20%; top:50%; }
#arkham_french_hill { right:20%; top:60%; }
#st_marys_hospital,
#arkham_uptown { left:20%; top:70%; }
#arkham_southside { right:25%; top:75%; }
#arkham_outskirts { left:35%; top:90%; }