* {
font-family: 'Garamond', 'Cochin', sans-serif;
} 

a {
text-decoration:none !important;
}

/* Bootstrap Customizations */

.navbar-fixed-top .brand small {
font-size:60%;
letter-spacing:0.09em;
left:0.3em;
position:relative;
top:-0.2em;
}

.navbar-fixed-top .badge {
margin-top:10px;
padding-top:3px;
padding-bottom:3px;
text-shadow: 1px 1px 2px #111;
}

.hero-unit .btn-wide {
margin-top:20px;	
font-size:150%;
padding-bottom:20px;
padding-top:20px;
width:100%;
}

.page-header img {
vertical-align:top;	
}

.progress-labeled { position: relative; }
.progress-labeled big {
color:#fff;
margin-left:48%;
position:absolute;
z-index:999;
top:0;
text-shadow: 1px 1px 0 #111,  1px -1px 0 #111,  -1px 1px 0 #111,  -1px -1px 0 #111;
}

.well-condensed {
padding: 5px;	
}

.well .thumbnails li {
background:#fff;
text-align:center;
}

big.label {
font-size:150%;
}