/* Forms */

label {
cursor:default;
display:inline-block; 
}

/* Badges */

.badge {
border:1px solid #ccc;
padding:3px 3px 0 3px;
}
.badge big {
display:block;
font-size:90%;
text-align: center;
}
.badge p {
margin:2px 0;
}

/* Lists */

ul.plain {
list-style:none;
margin:0;
padding:0;
}
ul.horizontal {
list-style:none;
margin:0;
padding:0;
}
ul.horizontal > li {
display:inline-block;
vertical-align:top;
}


/* Icons */

.clues {
font-size:1.5em;
}
.clues strong {
display:inline-block;
-webkit-transform:rotate(-180deg);
-moz-transform:rotate(-180deg); 
-o-transform:rotate(-180deg); 
transform:rotate(-180deg);
ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
font-size:1.5em;
text-shadow: 1px 1px 2px green;
}

/* Thumbnails */

img.picture-frame {
padding: 4px;
border: 1px double #999;
-moz-box-shadow: 1px 1px 5px #ccc;
webkit-box-shadow: 1px 1px 5px #ccc;
box-shadow: 1px 1px 5px #ccc;
vertical-align:top;
}
img.picture-frame.tilt {
margin: 0 5px;
-webkit-transform: rotate(3deg);
-moz-transform: rotate(3deg);
-ms-transform: rotate(3deg);
-o-transform: rotate(3deg);
transform: rotate(3deg);
zoom: 1;
}

ul.polaroids a {
background: white;
border:1px solid #ddd;
-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.15);
-moz-box-shadow: 0 3px 6px rgba(0,0,0,0.15);
color:inherit;
float: left;
font-size:0.9em;
font-weight:bold;
margin:0 5px;
padding: 8px 8px 0 8px;
text-align: center;
-webkit-transform: rotate(-2deg);
-moz-transform: rotate(-2deg);
}
ul.polaroids img {
display: block;
float:none;
}
ul.polaroids li:nth-child(even) a {
-webkit-transform: rotate(2deg);
-moz-transform: rotate(2deg);
}
ul.polaroids li:nth-child(3n) a {
-webkit-transform: none;
-moz-transform: none;
position: relative;
top: -5px;
}
ul.polaroids li:nth-child(4n) a {
-webkit-transform: rotate(-3deg);
-moz-transform: rotate(-3deg);
position: relative;
top: 3px;
left: -5px;
}
ul.polaroids li:nth-child(5n) a {
-webkit-transform: rotate(5deg);
-moz-transform: rotate(5deg);
position: relative;
right: 5px;
}

/* Content Boxes */

.copperplate {
border:1px solid #ccc;
display:inline-block;
}

/* Buttons */

.button {        
color: #222;
display: inline-block;
background-color: #ccc;
background-image: -webkit-gradient(linear, left right, left bottom, from(#eee), to(#ccc));
background-image: -webkit-linear-gradient(top, #eee, #ccc);
background-image: -moz-linear-gradient(top, #eee, #ccc);
background-image: -ms-linear-gradient(top, #eee, #ccc);
background-image: -o-linear-gradient(top, #eee, #ccc);
background-image: linear-gradient(top, #eee, #ccc);
filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
border: 1px solid #777;
-moz-border-radius: .2em;
-webkit-border-radius: .2em;
border-radius: .2em;
-moz-box-shadow: 1px 1px 0 0 rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
-webkit-box-shadow: 1px 1px 0 0 rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
box-shadow: 1px 1px 0 0 rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
font: bold 1em/2em Arial, Helvetica;
margin: 0.5em;
padding: 0 1.5em;
text-decoration: none;
text-shadow: 0 1px 0 rgba(255,255,255,.8);
white-space: nowrap;
}
.button:hover {
color: #222;
}
.button:after
{
background: #ccc;
background: rgba(0,0,0,.1);
float: right;        
text-align: center;
font-size: 1.5em;
margin: 0 -1em 0 1em;
-moz-box-shadow: -1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.15);
-webkit-box-shadow: -1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.15);
box-shadow: -1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.15);
-moz-border-radius: 0 .15em .15em 0;
-webkit-border-radius: 0 .15em .15em 0;
border-radius: 0 .15em .15em 0;
pointer-events: none;        
padding: 0 .2em;
width: 1em;
}
.continue:after { content: "\25B6"; }
.cancel:after { content: "\2716"; }

/* Widths */

.quarter { width: 24% }
.third { width: 32% }
.two-thirds { width: 65% }
.half { width: 49% }

/* Typography */

.normal {
font-weight:normal;
}

.disabled {
cursor:default;
opacity: 0.5;
filter:alpha(opacity=50);
}

/* Map */

.map {
margin:0 15%;
position:relative;
}
.map img {
width:100%;
}
.map .passage {
color:yellow;
display:inline-block;
font-size:140%;
position:absolute;
text-shadow: 1px 1px 2px white, -1px -1px 2px white;
z-index:99;
}
.map a[disabled] {
cursor:default;
color:blue;
}
#arkham_northside { left:10%; top:5%; }
#arkham_easttown { right:5%; top:5%; }
#arkham_sanitarium,
#arkham_downtown { left:40%; top:20%; }
#arkham_merchant_district { left:15%; top:40%; }
#arkham_rivertown { right:5%; top:45%; }
#arkham_miskatonic_university { left:20%; top:50%; }
#arkham_french_hill { right:20%; top:60%; }
#st_marys_hospital,
#arkham_uptown { left:20%; top:70%; }
#arkham_southside { right:25%; top:75%; }
#arkham_outskirts { left:35%; top:90%; }

/* Progress Bars */

progress,
progress[role] {
appearance: none;
-moz-appearance: none;
-webkit-appearance: none;
border: solid #ddd 3px;
-moz-border-radius: .3em;
-webkit-border-radius: .3em;
border-radius: .3em;
background-size: auto;
max-height: 20px;
}
progress[role]:after {
background-image: none;
}

progress {
color: #777;
}
progress::-moz-progress-bar {
background: #777;
}
progress::-webkit-progress-value {
background: #777;;
}
progress[aria-valuenow]:before  {
background: #777;;
}

progress,
progress[role][aria-valuenow] {
background: #ddd !important;
}
progress::-webkit-progress-bar {
background: #ddd;
}
progress:not([value])::-moz-progress-bar {
background-image: none;
}
progress:not([value])::-webkit-progress-bar {
background-image: none;
}
progress[role]{
background-image: none;
}
progress:not([value])  {
background-image: none;
background-size: auto;
}