<h1>Location: <%= @location.short_name %></h1>

<div class="map">
  <%= image_tag 'maps/arkham.png' %>

  <%= link_to_current_location %>
  <% if @location.passages.select{|p| p.available_for?(current_character) }.size > 0 %>
    <% @location.passages.each do |passage| %>
      <% if passage.available_for?(current_character) %>
        <%= link_to_location passage %>
      <% end %>
    <% end %>
  <% end %>
</div>