<div id='header'>
  <img id='logo' src='' />
  <ul id='main-navigation'>
    <%= link_to 'Profile', edit_character_path %>
    <%= link_to 'Story', location_path %>
    <%= link_to 'Map', locations_path %>
  </ul>
</div>